@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

	<title>Hoteles</title>

	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Tropical Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<!-- //Head -->
<!-- Body -->
<body>

	<!-- Header -->
	<div class="header agileits w3layouts" id="home">
		<!-- Banner -->
		<div class="banner agileits w3layouts">
			<img src="~/images/banner.jpg" alt="Agileits W3layouts">
			<h1 class="wow agileits w3layouts fadeInDown">Hoteles</h1>
		</div>
		<!-- //Banner -->

	</div>
	<!-- //Header -->
	<!-- Gallery -->
	@*<div class="gallery agileits w3layouts">
			<div class="container">

				<h2>Our Latest Project</h2>

				<div class="col-md-6 col-sm-6 gallery-grids agileits w3layouts gallery-grids1 wow slideInLeft">
					<div class="gallery-grid-images agileits w3layouts">
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-1">
							<img src="~/images/project-1.jpg" alt="Agileits W3layouts">
						</div>
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-2">
							<img src="~/images/project-3.jpg" alt="Agileits W3layouts">
						</div>
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-3">
							<img src="~/images/project-5.jpg" alt="Agileits W3layouts">
						</div>
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-4">
							<img src="~/images/project-6.jpg" alt="Agileits W3layouts">
						</div>
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-5">
							<img src="~/images/project-7.jpg" alt="Agileits W3layouts">
						</div>
						<div class="col-md-4 col-sm-4 gallery-grid agileits w3layouts gallery-grid-6">
							<img src="~/images/project-8.jpg" alt="Agileits W3layouts">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="gallery-grid-info wow agileits w3layouts fadeInLeft">
						<h3>The Exotica</h3>
						<h4>Richmond Beach</h4>
						<h5>Miami, FL</h5>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 gallery-grids agileits w3layouts gallery-grids2 wow slideInRight">
					<img src="~/images/gallery.jpg" alt="Agileits W3layouts">
				</div>
				<div class="clearfix"></div>

			</div>
		</div>*@
	<!-- //Gallery -->
	<!-- Details -->
	<div class="details agileits w3layouts">
		<div class="container">

			<h3>Hoteles disponibles</h3>

			<div class="details-grids agileits w3layouts">
				<div class="col-md-4 col-sm-4 details-grid agileits w3layouts details-grid-1 wow slideInUp">
					<div class=" details-grid1 agileits w3layouts">
						<div class="details-grid-image agileits w3layouts">
							<img src="~/images/project-1.jpg" alt="Agileits W3layouts">
						</div>
						<div class="details-grid-info agileits w3layouts">
							<h4>Le Caméléon</h4>
							<p>Hotel de 5 estrellas con 24 habitaciones, masaje, piscina, jacuzzi, Beach Club y restaurante.</p>
							<p><b>Cómo llegar:</b> A 250 kilómetros de San José, sobre ruta 32 y 3 kilómetros del centro de Puerto Viejo. </p>
							<p><b>Costo: </b>desde $203 hasta $313 la noche.</p>
						</div>
						@*<button class="btn btn-primary wow agileits w3layouts fadeInLeft" data-toggle="modal" data-target="#myModal">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
						<a class="btn btn-primary wow agileits w3layouts fadeInLeft" asp-controller="Home" asp-action="ReservaHotel">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 details-grid details-grid-2 wow agileits w3layouts slideInUp">
					<div class="details-grid2 agileits w3layouts">
						<div class="details-grid-image agileits w3layouts">
							<img src="~/images/project-6.jpg" alt="Agileits W3layouts">
						</div>
						<div class="details-grid-info agileits w3layouts">
							<h4>Shawandha Lodge</h4>
							<p>Tiene 14 tranquilos bungalows ubicados dentro de la selva tropical, un diseño creado con maderas y bamboo.</p>
							<p><b>Cómo llegar:</b> a 4 horas de San José y a 6 kilómetros de Puerto Viejo dirección a Playa Chiquita.</p>
							<p><b>Costo: </b>desde los $120 hasta $155 la noche.</p>
						</div>
						@*<button class="btn btn-primary wow agileits w3layouts fadeInLeft" data-toggle="modal" data-target="#myModal2">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
						<a class="btn btn-primary wow agileits w3layouts fadeInLeft" asp-controller="Home" asp-action="ReservaHotel">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 details-grid agileits w3layouts details-grid-3 wow slideInUp">
					<div class="details-grid3 agileits w3layouts">
						<div class="details-grid-image agileits w3layouts">
							<img src="~/images/project-7.jpg" alt="Agileits W3layouts">
						</div>
						<div class="details-grid-info agileits w3layouts">
							<h4>Cariblue Beach & Jungle Resort</h4>
							<p>Este hotel mira hacia las aguas claras del sur de Costa Rica y se extiende en la selva virgen que rodea la zona.</p>
							<p><b>Cómo llegar:</b> Playa Cocles, Puerto Viejo de Talamanca, aproximadamente a 250 kilómetros de San José, sobre ruta 32.</p>
							<p><b>Costo: </b>desde $113 hasta $248 por noche.</p>
						</div>
						@*<button class="btn btn-primary agileits w3layouts wow fadeInLeft" data-toggle="modal" data-target="#myModal3">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
						<a class="btn btn-primary agileits w3layouts wow fadeInLeft" asp-controller="Home" asp-action="ReservaHotel">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<!-- Tooltip-Content -->
			@*<div class="tooltip-content agileits w3layouts">

					<div class="modal fade agileits w3layouts details-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog agileits w3layouts modal-lg">
							<div class="modal-content agileits w3layouts">
								<div class="modal-header agileits w3layouts">
									<button type="button" class="close agileits w3layouts" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title agileits w3layouts">LOREM IPSUM</h4>
								</div>
								<div class="modal-body agileits w3layouts">
									<img src="~/images/project-1.jpg" alt="Agileits W3layouts">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade agileits w3layouts details-modal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg agileits w3layouts">
							<div class="modal-content agileits w3layouts">
								<div class="modal-header agileits w3layouts">
									<button type="button" class="close agileits w3layouts" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title agileits w3layouts">LOREM IPSUM</h4>
								</div>
								<div class="modal-body agileits w3layouts">
									<img src="~/images/project-6.jpg" alt="Agileits W3layouts">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade details-modal agileits w3layouts" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg agileits w3layouts">
							<div class="modal-content agileits w3layouts">
								<div class="modal-header agileits w3layouts">
									<button type="button" class="close agileits w3layouts" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title agileits w3layouts">LOREM IPSUM</h4>
								</div>
								<div class="modal-body agileits w3layouts">
									<img src="~/images/project-7.jpg" alt="Agileits W3layouts">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
					</div>

					<script>
						$('#myModal').modal('');
					</script>

				</div>*@
			<!-- //Tooltip-Content -->

		</div>
	</div>
	<!-- //Details -->
	<!-- Ventures -->
	<div class="ventures agileits w3layouts">
		<div class="container">

			<h3>Playas cercanas a los hoteles</h3>

			<div class="ventures-grids agileits w3layouts">
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid1 ventures-grid-image wow slideInUp">
					<img src="~/images/project-5.jpg" alt="Agileits W3layouts">
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid2 ventures-grid-info wow slideInUp">
					<h4>Manzanillo</h4>
					<p>
						Manzanillo es un paraíso tropical con un sorprendente arrecife de coral en alta mar. El lugar perfecto para el snorkel y la natación, esta playa también tiene excelentes lugares para bucear.
					</p>
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid3 ventures-grid-image wow slideInUp">
					<img src="~/images/project-8.jpg" alt="Agileits W3layouts">
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid4 ventures-grid-info wow slideInUp">
					<h4>Punta Uva</h4>
					<p>La playa de Punta Uva está dividida por dos playas muy diferentes y separadas por un impresionante mirador. Es perfecta, con palmeras, cocos, agua cristalina y restaurantes de su agrado.</p>
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid5 ventures-grid-image wow slideInUp">
					<img src="~/images/project-9.jpg" alt="Agileits W3layouts">
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid6 ventures-grid-info wow slideInUp">
					<h4>Cahuita</h4>
					<p>Con aguas cálidas y tranquilas, este paraíso tropical es ideal para viajeros tranquilos que buscan un lugar en una comunidad de playa pintoresca.</p>
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid7 ventures-grid-image wow slideInUp">
					<img src="~/images/project-10.jpg" alt="Agileits W3layouts">
				</div>
				<div class="col-md-3 col-sm-3 ventures-grid agileits w3layouts ventures-grid8 ventures-grid-info wow slideInUp">
					<h4>Cocles</h4>
					<p>Es uno de los lugares mejor desarrollados. La hermosa playa es muy popular entre los surfistas, especialmente en el extremo norte, y también entre los nadadores..</p>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
	<!-- //Ventures -->
	<!-- Team -->
	<div class="team agileits w3layouts">
		<div class="container">

			<h3>Reseñas de clientes</h3>

			<div class="team-grids agileits w3layouts grid">
				<div class="col-md-4 col-sm-4 team-grid agileits w3layouts team-grid1 wow slideInUp">
					<figure class="effect-zoe agileits w3layouts">
						<img src="~/images/team-1.jpg" alt="Agileits W3layouts" />
						<figcaption>
							<h4>Pepe <span>Aguilar</span></h4>
							<ul class="social-icons agileits w3layouts">
								<li><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
								<li><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
								<li><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
								<li><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
							</ul>
							<p class="description agileits w3layouts">Hermosos hoteles no puedo esperar para regresar de nuevo :D</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 team-grid agileits w3layouts team-grid2 wow slideInUp">
					<figure class="effect-zoe agileits w3layouts">
						<img src="~/images/team-2.jpg" alt="Agileits W3layouts" />
						<figcaption>
							<h4>Candy <span>Love</span></h4>
							<ul class="social-icons agileits w3layouts">
								<li><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
								<li><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
								<li><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
								<li><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
							</ul>
							<p class="description agileits w3layouts">Las playas son un paraíso, las personas muy amables y el lugar es una belleza.</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-4 team-grid agileits w3layouts team-grid3 wow slideInUp">
					<figure class="effect-zoe agileits w3layouts">
						<img src="~/images/team-3.jpg" alt="Agileits W3layouts" />
						<figcaption>
							<h4>Santos <span>Rey</span></h4>
							<ul class="social-icons agileits w3layouts">
								<li><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
								<li><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
								<li><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
								<li><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
							</ul>
							<p class="description agileits w3layouts">No puedo esperar más a ver a mi novia, necesito regresar de nuevo!</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
	<!-- //Team -->
	<!-- Footer -->
	<div class="footer agileits w3layouts">
		<div class="container">

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts newsletter wow fadeInUp">
				<h4>Suscribete</h4>
				<p>Suscribete para obtener noticias sobre promociones, actividas y demas.</p>
				<form action="#" method="post">
					<input type="text" placeholder="Email" name="Email" required="">
					<input type="submit" value="SUBSCRIBE">
				</form>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts social wow fadeInUp">
				<ul class="social-icons">
					<li class="agileits w3layouts"><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
					<li class="agileits w3layouts"><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="youtube agileits w3layouts" title="Go to Our Youtube Channel"></a></li>
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts copyright wow fadeInUp">
				<p><a>&copy; 2020 Caribe Adventure</a></p>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Footer -->
	<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap-JavaScript -->
	<script type="text/javascript" src="~/js/bootstrap.min.js"></script>

	<!-- Animate.CSS-JavaScript -->
	<script src="~/js/wow.min.js"></script>
	<script src="~/js/responsiveslides.min.js"></script>
	<script type="text/javascript" src="~/js/move-top.js"></script>
	<script type="text/javascript" src="~/js/easing.js"></script>
	<!-- Animate.CSS-JavaScript -->
	<script>
		new WOW().init();
	</script>
	<!-- //Animate.CSS-JavaScript -->
	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function () {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>