@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

	<title>Caribe Adventure</title>

	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Tropical Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<!-- //Head -->
<!-- Body -->
<body>

	<!-- Header -->
	<div class="header agileits w3layouts" id="home">

		<!-- Navbar -->

		<!-- //Navbar -->
		<!-- Slider1 -->
		<div class="slider agileits w3layouts">
			<div class="slider-1 agileits w3layouts">
				<ul class="rslides agileits w3layouts" id="slider1">
					<li>
						<img src="~/images/booking.jpg" alt="Agileits W3layouts">
						<div class="layer agileits w3layouts"></div>
						<div class="caption agileits w3layouts">
							<h3>Bienvenido a <span>Caribe Adventure</span></h3>
						</div>
					</li>
					<li>
						<img src="~/images/project-7.jpg" alt="Agileits W3layouts">
						<div class="caption agileits w3layouts">
							<h3>Los Mejores Hoteles Del Caribe Para Ti</h3>
						</div>
					</li>
					<li>
						<img src="~/images/project-5.jpg" alt="Agileits W3layouts">
						<div class="caption agileits w3layouts">
							<h3>Cerca de las playas mas exóticas de Costa Rica</h3>
						</div>
					</li>
					<li>
						<img src="~/images/suge1.jpg" alt="Agileits W3layouts">
						<div class="caption agileits w3layouts">
							<h3>Con las actividades mas divertidas</h3>
						</div>
					</li>
					@*<li>
						<img src="~/images/slide-5.jpg" alt="Agileits W3layouts">
						<div class="layer agileits w3layouts"></div>
						<div class="caption agileits w3layouts">
							<h3>Experience The Best Luxury & Hospitality</h3>
						</div>
					</li>*@
				</ul>
			</div>
		</div>
		<!-- //Slider1 -->
		<div class="clearfix"></div>

	</div>
	<!-- //Header -->
	<!-- Projects -->
	<div class="projects agileits w3layouts">
		<div class="container">

			<div class="col-md-8 col-sm-8 projects-grid agileits w3layouts projects-grid1 wow slideInLeft">
				<!-- Slider2 -->
				<div class="slider-2 agileits w3layouts">
					<ul class="rslides agileits w3layouts" id="slider2">
						<li>
							<img src="~/images/project-1.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-2.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-3.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-4.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-5.jpg" alt="Agileits W3layouts">
						</li>
					</ul>
				</div>
				<!-- //Slider2 -->
				<!-- Slider3 -->
				<div class="slider-3 agileits w3layouts">
					<ul class="rslides agileits w3layouts" id="slider3">
						<li>
							<img src="~/images/project-6.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-7.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-8.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-9.jpg" alt="Agileits W3layouts">
						</li>
						<li>
							<img src="~/images/project-10.jpg" alt="Agileits W3layouts">
						</li>
					</ul>
				</div>
				<!-- //Slider3 -->
			</div>

			<div class="col-md-4 col-sm-4 projects-grid agileits w3layouts projects-grid2 wow slideInRight">
				<h1>Mejores Hoteles</h1>
				<h4>Mejores hoteles de playa</h4>
				<div class="h4-underline agileits w3layouts wow slideInLeft"></div>
				<p>Mejores hoteles recomendados en base a las opiniones de los clientes.</p>
				<a class="agileits w3layoutswow slideInLeft" asp-controller="Home" asp-action="Hotel">Ver mas hoteles <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
			</div>

		</div>
	</div>
	<!-- //Projects -->

	<!-- Footer -->
	<div class="footer agileits w3layouts">
		<div class="container">

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts newsletter wow fadeInUp">
				<h4>Suscribete</h4>
				<p>Suscribete para obtener noticias sobre promociones, actividas y demas.</p>
				<form action="#" method="post">
					<input type="text" placeholder="Email" name="Email" required="">
					<input type="submit" value="SUBSCRIBE">
				</form>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts social wow fadeInUp">
				<ul class="social-icons">
					<li class="agileits w3layouts"><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
					<li class="agileits w3layouts"><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
					<li class="agileits w3layouts"><a href="#" class="youtube agileits w3layouts" title="Go to Our Youtube Channel"></a></li>
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 footer-grids agileits w3layouts copyright wow fadeInUp">
				<p>&copy; 2020 Caribe Adventure</a></p>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Footer -->
	<!-- Custom-JavaScript-File-Links -->
	<!-- Default-JavaScript -->
	<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap-JavaScript -->
	<script type="text/javascript" src="~/js/bootstrap.min.js"></script>

	<!-- Animate.CSS-JavaScript -->
	<script src="~/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!-- //Animate.CSS-JavaScript -->
	<!-- Slider-JavaScript -->
	<script src="~/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider1, #slider2, #slider3, #slider4").responsiveSlides({
				auto: true,
				nav: true,
				speed: 1500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Slider-JavaScript -->
	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function () {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="~/js/move-top.js"></script>
	<script type="text/javascript" src="~/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<!-- //Custom-JavaScript-File-Links -->



</body>
<!-- //Body -->



</html>