@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

    <title>Sugerencias</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tropical Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<!-- //Head -->
<!-- Body -->
<body>

    <!-- Header -->
    <div class="header agileits w3layouts" id="home">
        <!-- Banner -->
        <div class="banner agileits w3layouts">
            <img src="~/images/suge3.jpg" alt="Agileits W3layouts">
            <h1 class="wow agileits w3layouts fadeInDown">Sugerencias de paquetes recreativos</h1>
        </div>
        <!-- //Banner -->

    </div>
    <!-- //Header -->
    <!-- Details -->
    <div class="details agileits w3layouts">
        <div class="container">

            <h3>Sugerencias disponibles</h3>

            <div class="details-grids agileits w3layouts">
                <div class="col-md-4 col-sm-4 details-grid agileits w3layouts details-grid-1 wow slideInUp">
                    <div class=" details-grid1 agileits w3layouts">
                        <div class="details-grid-image agileits w3layouts">
                            <img src="~/images/suge2.jpg" alt="Agileits W3layouts">
                        </div>
                        <div class="details-grid-info agileits w3layouts">
                            <h4>
                                Paquete adventure
                            </h4>
                            <p>Precio por persona: 150$</p>
                            <p>Transporte: Transportes MyM</p>
                            <p>Hotel: Le Cameleon</p>
                            <p>  Actividad: Kayaking</p>
<p>Cantidad de días: 3</p>
                        </div>
                        @*<button class="btn btn-primary wow agileits w3layouts fadeInLeft" data-toggle="modal" data-target="#myModal">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
                        <a class="btn btn-primary wow agileits w3layouts fadeInLeft" asp-controller="Home" asp-action="ReservaTransporte">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 details-grid details-grid-2 wow agileits w3layouts slideInUp">
                    <div class="details-grid2 agileits w3layouts">
                        <div class="details-grid-image agileits w3layouts">
                            <img src="~/images/suge3.jpg" alt="Agileits W3layouts">
                        </div>
                        <div class="details-grid-info agileits w3layouts">
                            <h4>Paquete caribe</h4>
                            <p>Precio por persona: 195$</p>
                            <p>Transporte: Transportes MyM</p>
                            <p> Hotel: Le Cameleon</p>
                            <p>Actividad: Kayaking,Cabalgata</p>
                            <p>Cantidad de días: 3</p>
                        </div>
                        @*<button class="btn btn-primary wow agileits w3layouts fadeInLeft" data-toggle="modal" data-target="#myModal2">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
                        <a class="btn btn-primary wow agileits w3layouts fadeInLeft" asp-controller="Home" asp-action="ReservaTransporte">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 details-grid agileits w3layouts details-grid-3 wow slideInUp">
                    <div class="details-grid3 agileits w3layouts">
                        <div class="details-grid-image agileits w3layouts">
                            <img src="~/images/suge1.jpg" alt="Agileits W3layouts">
                        </div>
                        <div class="details-grid-info agileits w3layouts">
                            <h4>
                                Paquete caribbean ride
                            </h4>
                            <p>Precio por persona: 310$</p>
                            <p>Transporte: Transportes Gato</p>
                            <p>Hotel: Le Cameleon</p>
                            <p>Actividad: Kayaking,Canopy,Cabalgata</p>
                            <p>Cantidad de días: 4</p>
                        </div>
                        @*<button class="btn btn-primary agileits w3layouts wow fadeInLeft" data-toggle="modal" data-target="#myModal3">EXPLORE<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></button>*@
                        <a class="btn btn-primary agileits w3layouts wow fadeInLeft" asp-controller="Home" asp-action="ReservaTransporte">Reservar<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Details -->
    <!-- Footer -->
    <div class="footer agileits w3layouts">
        <div class="container">

            <div class="col-md-6 col-sm-6 footer-grids agileits w3layouts newsletter wow fadeInUp">
                <h4>Suscribete</h4>
                <p>Suscribete para obtener noticias sobre promociones, actividas y demas.</p>
                <form action="#" method="post">
                    <input type="text" placeholder="Email" name="Email" required="">
                    <input type="submit" value="SUBSCRIBE">
                </form>
            </div>

            <div class="col-md-6 col-sm-6 footer-grids agileits w3layouts social wow fadeInUp">
                <ul class="social-icons">
                    <li class="agileits w3layouts"><a href="#" class="facebook agileits w3layouts" title="Go to Our Facebook Page"></a></li>
                    <li class="agileits w3layouts"><a href="#" class="twitter agileits w3layouts" title="Go to Our Twitter Account"></a></li>
                    <li class="agileits w3layouts"><a href="#" class="googleplus agileits w3layouts" title="Go to Our Google Plus Account"></a></li>
                    <li class="agileits w3layouts"><a href="#" class="instagram agileits w3layouts" title="Go to Our Instagram Account"></a></li>
                    <li class="agileits w3layouts"><a href="#" class="youtube agileits w3layouts" title="Go to Our Youtube Channel"></a></li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-6 footer-grids agileits w3layouts copyright wow fadeInUp">
                <p><a>&copy; 2020 Caribe Adventure</a></p>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- //Footer -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap-JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <!-- Animate.CSS-JavaScript -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- Animate.CSS-JavaScript -->
    <script>
        new WOW().init();
    </script>
    <!-- //Animate.CSS-JavaScript -->
    <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
    <script type="text/javascript">
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 100,
                easingType: 'linear'
            };
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
    <!-- //Slide-To-Top JavaScript -->
    <!-- Smooth-Scrolling-JavaScript -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll, .navbar li a, .footer li a").click(function (event) {
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //Smooth-Scrolling-JavaScript -->
    <!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>